Repository i-dot-ai/consultation-analyser, pull requests merged in 2024-07, with the labels that each got.

#319 Replace Sagemaker with Bedrock
  .env.example
  README.md
  consultation_analyser/consultations/management/commands/generate_themes.py
  consultation_analyser/pipeline/backends/bedrock_llm_backend.py
  consultation_analyser/pipeline/backends/sagemaker_llm_backend.py
  consultation_analyser/pipeline/processing.py
  consultation_analyser/settings/base.py
  infrastructure/README.md
  infrastructure/batch.tf
  infrastructure/ecs.tf
  infrastructure/universal/lambda.tf
  infrastructure/universal/lambda_shutdown_sagemaker/lambda_function.py
  infrastructure/universal/lambda_shutdown_sagemaker/lambda_function.zip
  poetry.lock
  pyproject.toml
  tests/helpers.py
  tests/unit/test_sagemaker_llm_backend.py
Labels: infrastructure, processing pipeline

#315 Feature/choose generate themes device
  README.md
  consultation_analyser/consultations/management/commands/generate_themes.py
  consultation_analyser/pipeline/backends/bertopic.py
  consultation_analyser/pipeline/ml_pipeline.py
  consultation_analyser/pipeline/processing.py
  tests/unit/test_download_consultation.py
Labels: processing pipeline

#313 Feature/327 store chart data
  consultation_analyser/consultations/migrations/0023_topicmodelmetadata_scatter_plot_data.py
  consultation_analyser/consultations/models.py
  consultation_analyser/consultations/views/questions.py
  consultation_analyser/pipeline/backends/bertopic.py
  consultation_analyser/pipeline/backends/dummy_topic_backend.py
  consultation_analyser/pipeline/backends/types.py
  consultation_analyser/pipeline/llm_summariser.py
  consultation_analyser/pipeline/ml_pipeline.py
  docs/erd.png
  tests/integration/test_ml_pipeline.py
  tests/unit/test_download_consultation.py
  tests/unit/test_pipeline.py
Labels: feature

#323 Bugfix/Don't crash when not-logged-in user visits a consultation
  consultation_analyser/consultations/views/decorators.py
  tests/integration/test_user_can_see_consultations.py
Labels: bug
