Repository i-dot-ai/consultation-analyser, pull requests merged in 2024-04, with the labels that each got.

#52 Move question list to "/consultations"
  consultation_analyser/consultations/jinja2/consultation.html
  consultation_analyser/consultations/urls.py
  consultation_analyser/consultations/views/consultations.py
  frontend/style.scss
  tests/integration/test_consultation_page.py
Labels: feature

#48 batch call code
  .env.example
  .env.test
  .github/workflows/test.yml
  consultation_analyser/batch_calls.py
  consultation_analyser/settings/base.py
  poetry.lock
  pyproject.toml
  tests/unit/test_batch_calls.py
Labels: infrastructure

#27 Private Infrastructure Configuration
  .dockerignore
  .env.test
  .github/.github.env
  .github/workflows/build-gh.yml
  .github/workflows/release-infra.yml
  .gitignore
  Dockerfile
  Makefile
  consultation_analyser/settings/base.py
  consultation_analyser/settings/production.py
  infrastructure/README.md
  infrastructure/architecture_diagram.png
  infrastructure/batch.tf
  infrastructure/cognito.tf
  infrastructure/data.tf
  infrastructure/ecr.tf
  infrastructure/ecs.tf
  infrastructure/postgres.tf
  infrastructure/provider.tf
  infrastructure/scripts/release.sh
  infrastructure/secrets.tf
  infrastructure/variables.tf
  poetry.lock
  start.sh
Labels: infrastructure

#51 Feature/responses page
  consultation_analyser/consultations/jinja2/show_responses.html
  consultation_analyser/consultations/urls.py
  consultation_analyser/consultations/views/questions.py
  frontend/style.scss
  tests/factories.py
  tests/integration/test_question_pages.py
  tests/integration/test_responses_pages.py
Labels: feature

#29 Feature/ml pipeline
  consultation_analyser/consultations/migrations/0002_alter_theme_options_theme_question_and_more.py
  consultation_analyser/consultations/ml_pipeline.py
  consultation_analyser/consultations/models.py
  docs/erd.png
  poetry.lock
  pyproject.toml
  tests/factories.py
  tests/integration/test_ml_pipeline.py
  tests/integration/test_responses_pages.py
  tests/unit/test_ml_pipeline_functions.py
  tests/unit/test_models.py
  tests/unit/test_run_ml_pipeline_management_command.py
Labels: processing pipeline

#93 mv: lambda to universal folder
  Makefile
  infrastructure/lambda.tf
  infrastructure/universal/lambda.tf
Labels: infrastructure

#85 Feature/add lambda module usage
  infrastructure/lambda_shutdown_sagemaker/lambda_function.py
  infrastructure/lambda_shutdown_sagemaker/lambda_function.zip
  infrastructure/universal/lambda.tf
Labels: infrastructure

#66 Feature/theme model changes
  consultation_analyser/consultations/migrations/0003_remove_theme_unique_up_to_question_theme_is_outlier_and_more.py
  consultation_analyser/consultations/ml_pipeline.py
  consultation_analyser/consultations/models.py
  tests/factories.py
  tests/unit/test_ml_pipeline_functions.py
  tests/unit/test_models.py
Labels: processing pipeline

#83 Add custom User model
  .pre-commit-config.yaml
  consultation_analyser/authentication/__init__.py
  consultation_analyser/authentication/apps.py
  consultation_analyser/authentication/migrations/0001_initial.py
  consultation_analyser/authentication/migrations/__init__.py
  consultation_analyser/authentication/models.py
  consultation_analyser/settings/base.py
  tests/unit/test_authentication.py
Labels: authentication and authorization

#73 add: build after test
  .github/workflows/build-gh.yml
Labels: infrastructure

#95 rm: cognito
  infrastructure/cognito.tf
  infrastructure/ecs.tf
Labels: infrastructure

#108 rm: cognito variables
  infrastructure/variables.tf
Labels: infrastructure

#106 Feature/dummy data take 3
  consultation_analyser/consultations/dummy_data.py
  consultation_analyser/consultations/jinja2/all-consultations.html
  consultation_analyser/consultations/urls.py
  consultation_analyser/consultations/views/consultations.py
  consultation_analyser/context_processors.py
  consultation_analyser/hosting_environment.py
  consultation_analyser/support_console/jinja2/support_console/all-consultations.html
  consultation_analyser/support_console/jinja2/support_console/consultation.html
  consultation_analyser/support_console/urls.py
  consultation_analyser/support_console/views.py
  tests/integration/test_consultation_page.py
  tests/integration/test_logging_in_to_support.py
  tests/integration/test_support_console_pages.py
  tests/request/test_access_consultation_pages.py
  tests/request/test_support_pages.py
  tests/unit/test_generate_dummy_data.py
Labels: processing pipeline

#105 add: pull previous image
  Makefile
  infrastructure/universal/lambda.tf
  infrastructure/universal/lambda_shutdown_sagemaker/lambda_function.py
  infrastructure/universal/lambda_shutdown_sagemaker/lambda_function.zip
Labels: infrastructure

#77 Added decorator for spinning up sagemaker endpoint if it doesn't exist
  .env.example
  .env.test
  .github/workflows/test.yml
  consultation_analyser/consultations/decorators/sagemaker_endpoint_status_check.py
  consultation_analyser/consultations/ml_pipeline.py
  consultation_analyser/settings/base.py
  infrastructure/ecs.tf
Labels: infrastructure
